.img-size {
    width: 65px;
}

.position-img {
    margin: auto;
    text-align: center;
}

.view-post {
    color: blue;
    font-size: 12px;
    text-align: right;
}

.text-view {
    cursor: pointer
}

.card:hover {
    background-color: #d1dbffb2;
    box-shadow: 7px 7px 7px #59ffcf;
}

.title-posts {
    color: white;
    margin: 20px 0;
}

.card {
    margin: 5px;
}

.loading-card {
    text-align: center;

    h5 {
        margin-top: 10px;
    }
}