.img-size {
    width: 65px;
}

.position-img {
    margin: auto;
    text-align: center;
}

.view-post {
    color: blue;
    font-size: 12px;
    text-align: right;
}

.text-view {
    cursor: pointer
}

.title-posts {
    color: white;
    margin: 20px 0;
}

.card {
    margin: 5px;
}

.loading-card {
    text-align: center;

    h5 {
        margin-top: 10px;
    }
}

hr {
    opacity: 1;
    color: white;
}

.search-filter {
    margin: 5px 5px 25px 5px;
    color: white;

    div {
        margin-top: 10px;
    }
}

.flex-filter {
    display: flex; 
    justify-content: space-between;
}

@media (max-width: 1035px) {
    .flex-filter {
        align-items: flex-end;
        flex-direction: column;
    }
}