<h3 class="title-posts">Apps Info</h3>
<small class="info">This apps is like Twitter clone, where user can see all posts at home page.
    Then when user click individual post, user can see all comments from post.
    In additional, user can filter the comments based on name, email and comment's body.
</small>
<br><br>
<small class="info"><b>Technology used: </b>This Apps is made using Angular version 12.0.4, with SCSS preprocessor for styling.
    The open source code is push to GitHub at <cite>https://github.com/hilmanmanang/tribehired</cite>.
</small>
