<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1" (click)="home()">tribe<b>hired</b> assessement</span>
		<span class="profile-left">
			@hilmanmanang
			<img class="pic-hilman" src="./../assets/hilman-passport.jpg">
		</span>
	</div>
</nav>
<div class="color-bg">
	<div class="row content-post">
		<div class="col-md-3 border-profile">
			<div class="profile-hilman">
				<img src="./../assets/hilman-passport.jpg">
			</div>
			<div class="profile-text" style="color: white;">
				Hi, I am Muhammad Hilman Bin Ahmad,
				2 years+ of experience in Angular Frontend Developer. 
				Checkout my profile below. 
				<br>
				<a href="./../assets/HILMAN-RESUME.pdf" download>Download Resume</a>
				<br>
				<a href="info">Apps Info</a>
				<br>
				<a href="reference">References</a>
			</div>
			<div class="references-profile">
				<i class="fa fa-linkedin-square" aria-hidden="true" (click)="openLink('li')"></i>
				<i class="fa fa-github" aria-hidden="true" (click)="openLink('gt')"></i>
				<i class="fa fa-facebook-official" aria-hidden="true" (click)="openLink('fb')"></i>
				<i class="fa fa-instagram" aria-hidden="true" (click)="openLink('ig')"></i>
				<i class="fa fa-twitter" aria-hidden="true" (click)="openLink('tr')"></i>
			</div>
		</div>
		<div class="col-md-9">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<div class="bg-dark footer-post">
	<div>Develop by Hilman Ahmad 2021</div> 
</div>