.pic-hilman {
    width: 25px;
    border-radius: 100%;
}

.profile-left {
    color: white;
}

.container-fluid {
    max-width: 1200px;
}

.content-post {
    max-width: 1200px;
    margin: auto;
}

.color-bg {
    background-color: #25384b;
    min-height: 920px;
}

.profile-hilman {
    text-align: center;

    img {
        width: 130px;
        border-radius: 100%;
        margin: 30px;
    }
}

.references-profile {
    color: white;
    text-align: left;
    margin: 20px 0;

    i {
        margin: 0 5px;
        font-size: 25px;
        cursor: pointer;
    }

    i:hover {
        text-shadow: 4px 4px 4px #59ffcf;

    }
}

.profile-text {
    color: white;
    text-align: left;
}

.footer-post {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.navbar-brand {
    cursor: pointer;
}

@media (max-width: 768px) {
    .references-profile {
        text-align: right;
    }

    .profile-left {
        display: none;
    }

    .profile-text {
        text-align: center;
    }
}
